<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daqri</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

    {{{body}}}

    </body>
    <script src="/js/main.js"></script>
</html>
